/*Imported Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500&display=swap');

/*Imported Section Stylesheets*/
@import url(sections/header.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}