/*About Me Section Container*/

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 100px 0;
    font-family: "Gabarito", sans-serif;
    background-color: #E5E5CB;
    color:#1A120B;
}

.about-me h1 {
    font-size: 80px;
}

/*Background Section*/

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.background {
    width: 500px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

.background .content {
    text-align: center;
}

.background .material-symbols-outlined {
    font-size: 78px !important;
}

.background .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.about-me p {
    color: #3C2A21;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
}


/*Interests Section*/

.interests{
    padding-top: 100px;
    width: 100%;
}

.interests-container{
    width: 75%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.content {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icons .material-symbols-outlined {
    font-size: 78px !important;
}
