/* BACKGROUND SECTION CONTAINER*/

.background-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5CB;
    color:#1A120B;
    padding: 5rem 5rem;
    gap: 7.5rem;
}

/* BACKGROUND SECTION*/

.background-section-container .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    max-width: 50rem;
}

.background .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
}

/*RESPONSIVE FONT SIZES*/

@media screen and (min-width: 320px){

    .background-section-container p {
        font-size: 1.6rem;
    }

    .background-section-container h2 {
        font-size: 3.5rem;
    }

    .background-section-container .material-symbols-outlined {
        font-size: 5rem !important;
    }

}

@media screen and (min-width: 1024px){


    .background-section-container p {
        font-size: 2rem;
    }

    .background-section-container h2 {
        font-size: 4.5rem;
    }

    .background-section-container .material-symbols-outlined {
        font-size: 7.5rem !important;
    }

}
