.hero .image {
    background-color: grey;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero {
    padding: 14rem 5rem;
    background-color: #3C2A21;
    color:  #D5CEA3;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero-content {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

@media screen and (min-width: 320px){
    .hero .image {
        height: 200px;
        width: 200px;
    }

    .hero p {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1024px){
    .hero .image {
        height: 300px;
        width: 300px;
    }

    .hero p {
        font-size: 2rem;
    }
}





