.hero .image {
    background-color: grey;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero {
    padding: 150px 0;
    background-color: #3C2A21;
    color:  #D5CEA3;
    font-family: "Comfortaa", sans-serif;
}

.hero .hero-container {
    display: flex;
    justify-content: center;
}

.hero .content-container {
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align: center;
    height: 750px;
}

.hero .text {
    font-size: 25px;
}